@import '_variables';
@import '_mixins';

body {
  background: $primary-background;
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  // @include display-flex-column;
}

header {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 8vh;
  position: fixed;
  top: 0;
  @include display-flex-column;
  @include center;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 20px 0;
}

h4, p {
  margin: 5px;
}

h4 {
  font-size: 24px;
}

.login-page {
  @include display-flex-column;
  @include center;
  height: 30vh;
  width: 30vw;
}

.booking-options {
  width: 100%;
  @include display-flex-row;
  @include center;
  justify-content: space-around;
  background: white;
  position: fixed;
  height: 8vh;
  top: 8vh;
}

.bookings,
.rooms {
  @include display-flex-column;
  margin-top: calc(16vh + 20px);
  align-items: center;
}

.booking,
.room {
  background: white;
  width: 80vw;
  border-radius: 10px;
  padding: 10px;
  @include display-flex-column;
  margin: 20px;
}

.booking-info,
.room-info {
  @include display-flex-row;
}

.left-side,
.right-side {
  @include display-flex-column;
  width: 50%;
}

.left-side {
  text-align: left;
}

.right-side {
  @include display-flex-column;
  justify-content: flex-end;
  align-items: flex-end;
}

.select-room {
  width: 50%;
  border: none;
  border-radius: 10px;
  height: 4vh;
  background: $primary-background;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modal-color;
  display: flex;
  justify-content: space-between;
}

.error-box,
.confirm-booking-box {
  @include display-flex-row();
  justify-content: center;
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 40%;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  bottom: 50px;
}

.hidden {
  display: none;
}